<body>
    <div class="centered-flex">
        <div id="post">
            <div id="post-user">@{{currentPost.username}}</div>
            <div id="post-div">
                <img src="/{{currentPost.photopath}}" />
                <br />
                <div id="post-title">
                    {{currentPost.title}}
                </div>
                <div id="post-date">
                    <em>{{currentPost.created}}</em>
                </div>

                </br>
                <p>{{currentPost.description}}</p>
            </div>
        </div>
        <div id="comments-div">

        </div>
    </div>
</body>

<script>
    let ele = document.getElementById("post-user");
    if (ele) {
        ele.onclick = (even) => {
        }
    }
</script>